body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    h1 {
      text-align: center;
    }

    .window {
      background-color: #f2f2f2;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      position: relative;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      margin-bottom: 20px;
    }

    .window-title {
      margin-top: 0;
    }

    .arrow {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid black;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    .hidden-form {
      display: none;
    }

    .visible-form {
      display: block;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    .button {
      background-color: #ccc;
      color: black;
      padding: 10px 20px;
      font-size: 16px;
      text-decoration: none;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .button:hover {
      background-color: #f2f2f2;
    }