/* ESTILO FOOTER */
footer{
    height: 350px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
    width: 100%;
    position: absolute;
    bottom:0;
    left: 0;
    padding: 2rem 8%;
    background-color: black;
    align-items: stretch;
    flex-direction: column;
    position: relative;
}

.footer-menu-container{

    /*border: 1px solid white;*/

    width: 500px;
    margin: 20px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: black;
    background-image:url("../IMG/Facebook_White.png");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    margin: 1rem;
}

/* .social-icon:hover{
    background-color: rgb(207, 210, 214);
    
}*/

.social-icon:nth-of-type(2){
    background-image: url("../IMG/Instagram-White.png");
    background-size: 80%;
    background-color: black;
    border: 1px solid #0e0e0e;
}

.social-icon:nth-of-type(3){
    background-image: url("../IMG/Twiiter_White.png");
    background-size: 55%;
}

.footer-menu-container{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}

.menu-item{
    color: #f2f2f2;
    margin: 1rem 1.5rem;
}

.copyright{
    display: flex;
    justify-content: center;
    color: white;
    opacity: 0.3;
}

.enlace{
    color: white;
}

.line{
    margin: 3px;
    background-color: #f2f2f2;
    border-radius: 5px;
    height: 10px;
    width: 600px;
}

.divider{
    display: flex;
    justify-content: center;
}


.MANITAS{
    color: #f2f2f2;
    text-align: center;
    font-weight: 600;
    letter-spacing: 5px;
}